.slider {
    height:34vw;
    position: absolute;
    opacity: 1;
    transition: opacity 0.5s linear;
}
.hidden{
    opacity: 0;
}

@media screen and (min-width: 480px) {
    #slider{
        height:24.6vw;
        width: 50vw;
    }
}